html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FFFEFB;
}

#root {
  width: 100%;
  overflow-x: clip;
}

#root > section,
  .header-container,
  .explaination-container,
  .hardwaresoftware-container,
  .projects-container,
  .careers-container {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


