*{
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  width: 100%;
  position: absolute;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.logo-container {
  display: flex;
  justify-content: left;
  margin-right: 20px;
}